h1{
    font-family: Impact;
    text-align: center;
}
.firstlink{
    font-family: Helvetica, sans-serif;
    }
.firstl{
    text-align: center
}    
head,body{
    color:;
    background-image:;
    }
.CR7picture{
    display: block;
    margin-right: auto;
    margin-left: auto;
}